.client-title-container {
    margin-top: 50px;
    margin-bottom: 10px;
}

.client-main-title {
    font-size: 40px;
    font-weight: 600;
    color: #4d4d4d;
    margin: 10px 0px;
}

.client-sub-title {
    font-size: 20px;
    color: #717171;
}